<body class="os-login-page">
    <div class="os-login-container">
        <h2 class="os-login-title">Login to optiStock</h2>
        <%= form_with url: "/users/login", class: "os-login-form", method: :post do |form| %>
            <div>
                <%= form.label :username %>
                <%= form.text_field :username, class: "os-input", placeholder: "username" %>
            </div>
            <br/>
            <div>
                <%= form.label :password %>
                <%= form.password_field :password, class: "os-input", placeholder: "password" %>
            </div>
            <br/>
            <div>
                <%= form.submit "Login", class: "os-login-button" %>
            </div>
            <br/>
        <% end %>
    </div>
</body>
