<!DOCTYPE html>
<html>
<head>
  <title>optiStock</title>
  <%= stylesheet_link_tag 'authentication', media: 'all' %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= javascript_importmap_tags %>
</head>
<body>
 <%= yield %>
</body>
</html> 


