<!DOCTYPE html>
<html>
<head>
  <title>optiStock</title>
  <%= stylesheet_link_tag 'home', media: 'all' %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= javascript_importmap_tags %>
</head>
<body>
  <nav class="os-navbar">
    <div class="os-logo">optiStock</div>
    <ul class="os-nav-links">
        <li><%= link_to "Dashboard", '/users/dashboard' %></li>
        <li><%= link_to "Users", '/users/show' %></li>
        <li><%= link_to "Department", '/department/show' %></li>
        <li><%= link_to "roles", '/role_description/show' %></li>
        <li><%= link_to "Logout", '/users/logout' %></li>
    </ul>
</nav>

 <%= yield %>
</body>
</html> 